body{
    font-size: 130%;
}
.grid-container{
    display: grid;
    grid-gap: 10px;
    justify-items: left;
}
.oszloptető{
    font-weight: bold;
}
.cim{
    justify-self:center ;
    grid-row: 1;
    grid-column: 1;
}
.bevezeto{
    grid-row: 2;
    grid-column: 1;
}
.pont1{
    grid-row: 3;
    grid-column: 1;
}
.kep{
    
    grid-row: 3;
    grid-column: 2;
}
.cselekmeny{
    grid-row: 4;
    grid-column: 1;
}
.ok{
    grid-row: 4;
    grid-column: 2;
}
.farok1{
    grid-row: 5;
    grid-column: 1;
}
.farok1ok{
    grid-row: 5;
    grid-column: 2;
}
.farok2{
    grid-row: 6;
    grid-column: 1;
}
.farok2ok{
    grid-row: 6;
    grid-column: 2;
}
.farok3{
    grid-row: 7;
    grid-column: 1;
}
.farok3ok{
    grid-row: 7;
    grid-column: 2;
}
.farok4{
    grid-row: 8;
    grid-column: 1;
}
.farok4ok{
    grid-row: 8;
    grid-column: 2;
}
.farok5{
    grid-row: 9;
    grid-column: 1;
}
.farok5ok{
    grid-row: 9;
    grid-column: 2;
}
.pont2{
    grid-row: 10;
    grid-column: 1;
}
.pont3{
    grid-row: 11;
    grid-column: 1;
}
.forrasok{
    grid-row: 12;
    grid-column: 1;
}
.kepforrasok{
    grid-row: 12;
    grid-column: 2;
}
#farok{
    width: 20%;
    height: 20%;
}
